<v-toolbar color="light-blue" dark fixed app>
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-title>Foodgasm API Reference</v-toolbar-title>
</v-toolbar>
