<section id="database" class="mt-2">
  <template>
    <v-expansion-panel>
      <v-expansion-panel-content>
        <div slot="header">
        </div>
        <v-container>
          <v-layout row wrap>
            <v-flex xs12>
              <img src="/img/erd.png" alt="">
            </v-flex>
          </v-layout>
        </v-container>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </template>
</section>

