$body-font-family = 'Quicksand', sans-serif;
// Import Vuetify styling
// @require '~vuetify/src/stylus/main.styl'
@require '../../../node_modules/vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
